.home.main {
  margin: auto 150px;
  margin-top: 90px; // agar tidak tertutup navbar
  min-height: 500px;
  box-shadow: 1px 1px 5px rgba(#000, 0.3);
  border-radius: 5px;
  padding: 30px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  margin-top: 20px;

  th, td {
    text-align: left;
    padding: 14px;
  }

  tr:hover {
    background-color: rgba(#576574, 0.1);
  }

  th {
    background-color: rgba(#222f3e, 1);
    color: #ddd;
  }

  .text-right {
    text-align: right;
  }

  .text-center {
    text-align: center;
  }
}

.search {
  float: right;
  margin-top: -10px;

  input[type="text"] {
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;

    &:focus {
      outline: none;
    }
  }
}
