$bg-color: #ee5253;
$shadow-color: 1px 1px 5px rgba(0, 0, 0, 0.5);
$white-9: rgba(255, 255, 255, 0.9);
$white-7: rgba(255, 255, 255, 0.7);

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: $bg-color;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-shadow: $shadow-color;
  z-index: 1000;

  .navbar-brand {
    color: $white-9;
    font-size: 18px;
  }

  .link-wrapper {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 20px;

    .link {
      font-weight: bold;
      cursor: pointer;

      .active {
        color: white;
      }

      a {
        color: $white-7;
        text-decoration: none;
        padding: 20px;

        &:hover {
          background-color: #ff6b6b;
          color: $white-9;
        }
      }
    }
  }
}
